<head>
   <meta charset="utf-8">
   <title>About Us</title>
</head>
<body>

   <div class="mumbotron mumbotron-fluid">
      <div class="container">
         <h1 class="display-3">Fluid jumbotron</h1>
         <p class="lead">This is a modified jumbotron that occupies
            the entire horizontal space of its parent.</p>
         </div>
      </div>

      <h1 >About Us</h1>
      <hr />

      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="card">
                  <img class="card-img-top" url="~/wdi/project3/app/assets/images/handscupped2.png"
                  alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Chiropractic Services</h4>
                     <p class="card-text">Some quick example text to build on
                        the card title and make up the bulk of the card's content.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-6">

               </div>
            </div>

            <div class="row">
               <div class="col-lg-6">
                  <img-circle src="handscupped2.png" class="about-pic" class="img-responsive"></img-circle>
               </div>

               <div class="col-lg-6">
                  <div class="card">
                     <img class="card-img-top" url="~/wdi/project3/app/assets/images/handscupped2.png"
                     alt="Card image cap">
                     <div class="card-block">
                        <h4 class="card-title">Naturopathic Healing Services</h4>
                        <p class="card-text">Some quick example text to build on
                           the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


            <!-- ******** Super Secret Easter Egg ******** -->

            <script type="text/javascript">
            $(document).keypress("c",function(e) {
               if(e.ctrlKey) {
                  console.log("Ctrl+C was pressed!!")
                  $('#myModal').show()

               };
            });
            </script>
            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">x</span>
                <input type="text" name="fname"><br>
              </div>

            </div>

            <script>
            $("#myModal").change(function(){
               input_val=$("#myModal").val();
               if (input_val=="hey dad"){
               }
               alert("Hello! I am an alert box!!");

               // ajax(
               //    {
               //       url: 'https://api.particle.io/v1/devices/310047001147353138383138/led?access_token=010698382e0bcb2c511ca5395c518fa428bba75b',
               //       method: 'post',
               //       id: '310047001147353138383138'
               //       type: 'json',
               //       args: 'on',
               //    },
               // );
            });
            </script>

            <script>

            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];


            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            </script>
         </form>

      </p>
   </div>
</div>

</body>
