<% if current_user == @users %>

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Test</title>
</head>
<body>
   <div class="jumbotron jumbotron-fluid">
      <div class="container">
         <h1 class="display-3">Fluid jumbotron</h1>
         <p class="lead">This is a modified jumbotron that occupies
            the entire horizontal space of its parent.</p>
         </div>
      </div>
      <% else %>
        <h1 class="denied"> <%= current_user.username %> is not authorized to view this page. </h1>
      <% end %>


   </body>
   </html>
