<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Services Offered</title>
   </head>
   <body>
<div class="bumbotron bumbotron-fluid">
   <div class="container">
      <h1 class="display-3">Services Offered</h1>
      <p class="lead">This is a modified jumbotron that occupies
         the entire horizontal space of its parent.</p>
      </div>
   </div>

   </body>
</html>
