<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Services Offered</title>
</head>
<body>
   <div class="bumbotron bumbotron-fluid">
      <div class="container">
         <h1 class="display-3">Services Offered</h1>
         <p class="lead">This is a modified jumbotron that occupies
            the entire horizontal space of its parent.</p>
         </div>
      </div>

<br />
      <!-- test card -->
      <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
               <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Chiropractic Services</h2>
               </div>
               <div class="mdl-card__supporting-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris sagittis pellentesque lacus eleifend lacinia...
               </div>
               <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                     Book an appointment now
                  </a>
               </div>
            </div>
         </div>
      </div>
      <br />
<br />
            <div class="row">
               <div class="col-lg-offset-6 col-lg-6">
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                     <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Chiropractic Services</h2>
                     </div>
                     <div class="mdl-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris sagittis pellentesque lacus eleifend lacinia...
                     </div>
                     <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                           Book an appointment now
                        </a>
                     </div>
                  </div>
               </div>
            </div>

         </body>
         </html>
